REPLICATE_API_TOKEN=
REPLICATE_REAL_ESRGAN_VERSION=42fed1c4974f88d4f1d6f0de12f4f6b5f0a8f6fadc5f59ab2338f5b6c15d10f2

HUGGINGFACE_API_TOKEN=
HUGGINGFACE_MODEL_ENDPOINT=https://api-inference.huggingface.co/models/dima806/skin_cancer_image_detection
